<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Workout</h1>
    <div style="">
        <Table>
          <th>Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Main Target</th>
          <th>Equipment</th>
            <% exercises.forEach(function(exercise) { %>
              <tr key="<%exercise.id %>">
                <td><%= exercise.name %></td>
                <td><%= exercise.instructions %></td>
                <td><%= exercise.target %></td>
                <td><%= exercise.secondaryMuscles %></td>
                <td><%= exercise.equipment %></td>
              </tr>
            <% }) %>
          </Table>
    </div>
    <div class="pagination">
      <% if (currentPage > 1) { %>
          <a href="/user/workouts/new?page=<%= currentPage - 1 %>">&laquo; Previous</a>
      <% } %>

      <% for (let i = 1; i <= totalPages; i++) { %>
          <a href="/user/workouts/new?page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
      <% } %>

      <% if (currentPage < totalPages) { %>
          <a href="/user/workouts/new?page=<%= currentPage + 1 %>">Next &raquo;</a>
      <% } %>
    </div>

</body>
</html>