<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locations</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Use relative path -->
</head>
<body class="locations-page">
    <header>
        <div class="logo">
            <div>
                <img src="/images/Logo.png" alt="Hive Logo">
              </div>
            <h1>HIVE</h1>
        </div>
        <nav>
            <div class="user-menu">
                <a href="/<%= userId %>/userprofile">
                    <img src="/images/avatar.png" alt="User Avatar" class="avatar">
                </a>
                <span class="menu-trigger" onclick="toggleDropdown()">Menu</span>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/<%= userId %>/workouts/">Workouts</a>
                    <a href="/<%= userId %>/dashboard">Dashboard</a>
                    <a href="/<%= userId %>/painpoints">Pain Management</a>
                </div>
            </div>
        </nav>
    </header>
    <main class="outermost-box">
        <main class="main-box">
            <div class="location-heading">
                <h1>Locations</h1>
                <a href="/<%= userId %>/locations/new" class="add-button"></a>
            </div>

            <!-- Locations: Outermost Rectangular Box  -->
            <div class="location-content">
                <% locationsList.forEach(location => { %>
                <div class="ind-location">
                    <header class="ind-location-header">
                        <h2><a href="/<%= userId %>/locations/location/<%= location.id %>"><%= location.locationName %></a></h2>
                        <a href="/<%= userId %>/locations/edit/<%= location.id %>" alt="Edit" class="edit-button"></a>
                    </header>

                    <section class="ind-location-content">
                        <div class="ind-location-content-location">
                            <% location.equipmentAvailable.forEach(item => { %>
                                <p class="equipment-text"><%= item %></p>
                            <% }) %>
                        </div>
                    </section>
                </div>
                <% }) %>
            </div>
        </main>
    </main>
    <script>
        function toggleDropdown() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.menu-trigger')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</body>
</html>
